<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScanToEvernote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScanToEvernote.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScanToEvernote.Properties.Settings>
            <setting name="ScannerDeviceID" serializeAs="String">
                <value />
            </setting>
            <setting name="EvernoteDeveloperToken" serializeAs="String">
                <value>8911f34764610e2e</value>
            </setting>
            <setting name="EvernoteDomain" serializeAs="String">
                <value>sandbox.evernote.com</value>
            </setting>
        </ScanToEvernote.Properties.Settings>
        <ScanToEvernote.Settings>
            <setting name="SelectedScannerDeviceID" serializeAs="String">
                <value />
            </setting>
        </ScanToEvernote.Settings>
    </userSettings>
</configuration>